<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- "logLayout"在后面句子 layout =  "${logLayout}" 中，引用了它 -->
  <variable name="logLayout"
            value="Logger：${logger}${newline}Date：${longdate} Level：${uppercase:${level}}${newline}${message} ${newline}${onexception:Exception：${exception:format=toString}${newline}}" />
  <!--fileName="${basedir}/Logs/${shortdate}/${shortdate}.txt" log存在根目录下，这一句代替后面对句子-->
  <!--5M= 5242880= 5*1024*1024 100K=102400-->
  <targets>
    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target name="log_file" xsi:type="File"
              fileName="D:\1现场图/${shortdate}/log.txt"
              layout="${logLayout}"
              archiveFileName="D:\1现场图/${shortdate}/archives/${shortdate}-{#####}.txt"
              archiveAboveSize="102400" 
              archiveNumbering="Sequence"
              concurrentWrites="true"
              keepFileOpen="true"
              encoding="utf-8"
              openFileCacheTimeout="30"/>
    </target>
  </targets>

  <rules>

    <logger name="*" minlevel="Debug" writeTo="asyncFile" />
  </rules>
</nlog>

